@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,500&display=swap');
h1, h2, h3, h4, h5, h6, p, button, label {
  font-family: 'Roboto', sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #EEF1F5;
}
.App {
  /* text-align: center; */
}
button {
  transition: all 0.3s;
}

.App-logo {
  height: 30px;
  pointer-events: none;
  padding-right: 15px;
}

.App-header {
  background-color: #282c34;
  padding: 0 30px;
  min-height: 60px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px;
}

.App-link {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.container {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
/*Security box*/
.box { 
  position: relative;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #D2D8DF;
  border-radius: 0.3rem;
  padding: 15px 20px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
.securitytable .title h2 {
  margin: 0 0 10px;
}
hr.lightgray-line {
  border-top: 1px solid #dedede;
}
.securitytable table {
  width: 100%;
}
.isin-width, .country-width {
  width: 20%;
}
.editing-btn {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.edit-btn {
  display: block;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  height: 30px;
  box-sizing: border-box;
  padding: 0 10px;
  cursor: pointer;
  background-color: #EEF1F5;
  color: #223140;
}
.edit-btn:hover {
  background-color: #d9dce1;
}
.add-btn {
  background-color: #239ACC;
  color: #ffffff;
}
.add-btn:hover {
  background-color: rgba(35, 154, 204, 0.9);
}

/*Pop up */
.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
  z-index: 10;
}  
.popup-inner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 20px;  
  background: white; 
  padding: 20px 30px;
  z-index: 20; 
}
.price-popup .popup-inner {
  height: 360px;
}

/* Mini Popup */
.mini-popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
  z-index: 30;
}  
.mini-popup-inner {  
  position: absolute;  
  width: 300px;
  height: 240px;
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 20px;  
  background: white; 
  padding: 20px 30px;
  z-index: 40; 
}

/* Popup Form */
.add-form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}
.add-form h2, .price-form h2 {
  margin: 0 0 0.83em 0;
}
.form-input {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.field {
  width: 48%;
  display: block;
  margin-bottom: 15px;
}
.field label {
  display: block;
  margin-bottom: 3px;
}
.control input, .control select {
  display: block;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  font-size: 20px;
  padding: 5px 10px;
  margin: 0 0 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.control input.error {
  border-color: red;
}
.err-msg {
  color: red;
  font-size: 0.8em;
}
.buttons-box {
  display: flex;
  margin-top:auto;
}
.flex-content-between {
  justify-content: space-between;
}
.flex-content-end {
  justify-content: flex-end;
}
.add-btns {
  display: flex;
  justify-content: flex-end;
}
.btn {
  display: block;
  width: 80px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  height: 40px;
  cursor: pointer;
}
.save-button {
  background-color: #66b55c;
  color: #ffffff;
  margin-left: 10px;
}
.save-button:hover {
  background-color: #669509;
}
.save-button:disabled {
  background-color: #dedede;
  color: #ffffff;
}
.cancel-button {
  background-color: #1f9ff0;
  color: #ffffff;
}
.cancel-button:hover {
  background-color: #1984c7;
}
.delete-button {
  background-color: red;
  color: #ffffff;
  margin-right: 10px;
}
.delete-button:hover {
  background-color: #c10202;
}
 /* Price Box */
 .addprice-form {
  position: relative;
  width: 100%;
  height: 100%;
 }
 .addform-input {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
 }
 .addform-input h3 {
   margin: 0 0 1em;
 }
 .addform-input h4 {
  font-size: 0.8em;
  font-weight: 400;
  margin: 0 0 1em;
 }
 .addform-input .field {
   width: 100%;
 }
 .pricebox {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #D2D8DF;
  padding: 6px 20px;
  box-sizing: border-box;
 }
 .price-form .cancel-button {
   margin-right: 0;
 }
 .add-button {
  color: #fff;
  background-color: #28a745;
 }
 .btn:disabled{ 
  color: #fff;
  background-color: #6c757d;
 }
 .add_btn p {
   margin: 3px 0 0;
   color: red;
 }

/*Scroll Box */
.scroll-box {
  width: 100%; 
  height: 230px; 
  overflow-x: hidden; 
  overflow-x: auto; 
  border: 1px solid #D2D8DF;
  margin-bottom: 20px;
  box-sizing: border-box;
}